* {
    margin: 20px;
    padding: 0px;
}
header{
    background-color: darkolivegreen;
    color: rgb(7, 7, 60);
    border: 10px solid rgb(7, 7, 60);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    text-align: center
}
nav{
    background-color: darkolivegreen;
    color: rgb(7, 7, 60);
    border: 8px solid rgb(7, 7, 60);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

li {
    display: inline;
}
footer {
    text-align: center;
    background-color: darkolivegreen;
    color: rgb(7, 7, 60);
    border: 6px solid rgb(7, 7, 60);
}
img{
    width: 92%;
    margin: auto;
    border: 6px solid rgb(7, 7, 60);
    margin-top: 10px;
}
.about-me{
    background-color: darkolivegreen;
    color: rgb(7, 7, 60);
    border: 6px solid rgb(7, 7, 60);
    text-align: center;
}
.contact{
    background-color: darkolivegreen;
    color: rgb(7, 7, 60);
    border: 6px solid rgb(7, 7, 60);
    text-align: center;
}
.projects{
    background-color: darkolivegreen;
    color: rgb(7, 7, 60);
    border: 6px solid rgb(7, 7, 60);
    text-align: center;
}
.project-1{
    display:block;
    width: 80%;
    margin: auto;
    background-image: url("./project1.png");
    height: 300px;
    background-size: cover;
    position: relative;
    
}
.project-1 h2{
    position: absolute;
    bottom: -5px;
    left: 0;
}
a:link{
    color:white;
    text-decoration: none;

}
a:visited{
    color:white;
    text-decoration: none;
}
.coming-soon{
    width: 20%;
    display: inline-block;
}
